<td><%= date_string event.date %> </td>
<td><%= time_string event.start_time %> </td>
<td><%= time_string event.end_time %> </td>
<td><% for resource_use in event.resource_uses %>
      <%= render_resource_name resource_use  %>
    <% end %>
 </td>
