<%= error_messages_for 'event' %>

<%= hidden_field("event", "schedulable_id") %>
<%= hidden_field("event", "schedulable_type") %>

<!--[form:event]-->
<p><label for="event_date">Date</label><br/>
<%= date_select 'event', 'date'  %></p>

<p><label for="event_from">From</label><br/>
<%= time_select 'event', 'start_time'  %></p>

<p><label for="event_to">To</label><br/>
<%= time_select 'event', 'end_time'  %></p>

<%= render :partial => 'events/resources_use_form' %>


<!--[eoform:event]-->

