<h1>New event</h1>

<% form_tag :action => 'create_event' do %>
  <%= render :partial => 'events/event_form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'show', :id => @event.schedulable.id %>
