<%= error_messages_for 'teacher' %>

<!--[form:teacher]-->

<table class='formtable'><tbody>
<p><label for="teacher_given_name">Given name</label><br/>
<%= text_field 'teacher', 'given_name'  %></p>
<p><label for="teacher_surname">Surname</label><br/>
<%= text_field 'teacher', 'surname'  %></p>
</tbody></table>
<!--[eoform:teacher]-->

