<%= error_messages_for 'course' %>

<!--[form:course]-->

<table class='formtable'><tbody>
<p><label for="course_name">Name</label><br/>
<%= text_field 'course', 'name'  %></p>
</tbody></table>
<!--[eoform:course]-->

