<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Generic Resource-Manager Layout</title>
</head>
<body>
<%= link_to "CRUDController", :controller => "crud" %><br>
<br>
<%= link_to "Courses", :controller => "courses" %>
<br>
<%= link_to "Events", :controller => "event" %>
<hr>

<%= yield  %>

</body>
</html>
