<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
 <title>Generic Resource-Manager Layout</title>
 <%= javascript_include_tag :defaults %>
 <%= active_scaffold_includes %>
</head>
<body>
<%= link_to "CRUDController", :controller => "crud" %><br>
<%= link_to "ActiveEvents", :controller => "active_event" %>
<%= link_to "ActiveResources", :controller => "active_resource" %>
<%= link_to "ActiveResourceUse", :controller => "active_resource_use" %>
<br>
<%= link_to "Events", :controller => "event" %>
<%= link_to "Resources", :controller => "resource" %>
<%= link_to "ResourceUse", :controller => "resource_use" %>
<hr>

<%= yield  %>

</body>
</html>
